body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: violet;
  margin: 0 auto;
}

.logo {
  background-color: yellow;
  display: inline-flex;
  /* position: relative; */
  padding: 3% 5%;
}

input.inputText {
  width: 400px;
  height: 30px;
  position: absolute;
  left: -9%;
  margin-top: 2%;
}

.content-wrapper {
  position: relative;
  left: 45%;
  top: 10%;
}
